{% extends "base.html" %} {% block content %}
<header>
  <h1>BGI WIS-BE METADATEN EDITOR (Prototyp)</h1>
</header>
<div class="row gy-3">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <h5 class="card-header">Erfassen</h5>
      <div class="card-body">
        <p class="card-text">Hier können Metadaten erfasst werden.</p>
        <a class="btn btn-primary" href="{% url 'admin:index' %}"
          >Daten erfassen</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <h5 class="card-header">LAYERGRUPPEN (JSON)</h5>
      <div class="card-body">
        <p class="card-text">
          Durch Klick auf den Button erhalten sie
          <strong>Layergruppen</strong> als JSON.
        </p>
        <a class="btn btn-primary" href="{% url 'editor:layergroups' %}"
          >Layergruppen JSON</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="col">
      <div class="card">
        <h5 class="card-header">LAYER (JSON)</h5>
        <div class="card-body">
          <p class="card-text">
            Durch Klick auf den Button erhalten sie
            <strong>Layer</strong> als JSON.
          </p>
          <a class="btn btn-primary" href="{% url 'editor:layers' %}"
            >Layer JSON</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <h5 class="card-header">Neue WebMap erstellen</h5>
        <div class="card-body">
          <p class="card-text">Erstellt eine neue WebMap in ArcGIS Online.</p>
          <a class="btn btn-primary" href="{% url 'editor:createwebmap' %}"
            >Create WebMap</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Update WebMap</h5>
        <div class="card-body">
          <p class="card-text">Eine bestehende WebMap aktualisieren.</p>
          <a class="btn btn-primary" href="{% url 'editor:editwebmap' %}"
            >Update WebMap</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
