{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-6">
    <div class="card">
      <h5 class="card-header">WebMap aktualisieren</h5>
      <div class="card-body">
        <p class="card-text">
          Aktualisiert eine bestehende WebMap in ArcGIS Online.
        </p>

        {% if webmaps|length > 0 %}
        <form
          id="update_webmap_form"
          name="update_webmap_form"
          action="{% url 'editor:updatewebmap' %}"
          method="POST"
        >
          {% csrf_token %}
          <div class="mb-5">
            <label for="webmapSelect" class="form-label"
              >Welche AGO WebMap möchten sie überschreiben?</label
            >
            <select
              class="form-select"
              aria-label="select webmap"
              name="webmap_select"
            >
              {% for webmap in webmaps %}
              <option
                selected
                data-webmapid="{{webmap.id}}"
                value="{{webmap.id}}"
              >
                {{webmap.title}} ({{webmap.id}})
              </option>
              {% endfor %}
            </select>
          </div>
          <button id="update_webmap_btn" class="btn btn-primary" type="submit">
            WebMap aktualisieren
          </button>
          <button
            id="update_webmap_spinner"
            class="btn btn-primary visually-hidden"
            type="button"
            disabled
          >
            <span
              class="spinner-border spinner-border-sm"
              aria-hidden="true"
            ></span>
            <span role="status">WebMap wird aktualisiert...</span>
          </button>
        </form>
        {% else %}
        <p class="card-text">Es sind keine WebMaps vorhanden.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
