{% extends "base.html" %} {% block content %}
<div class="row mt-5">
  <div class="col-6">
    <div class="card">
      <h5 class="card-header">WebMap aktualisieren</h5>
      <form
        id="update_webmap_form"
        name="update_webmap_form"
        action="{% url 'editor:updatewebmap' %}"
        method="POST"
      >
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-primary-subtle">
            Wählen sie die <strong>AGO WebMap</strong> welche sie überschreiben
            wollen.
          </li>
          <li class="list-group-item">
            {% if webmaps|length > 0 %} {% csrf_token %}
            <select
              class="form-select"
              aria-label="select webmap"
              name="webmap_select"
            >
              {% for webmap in webmaps %}
              <option selected value="{{webmap.id}}">
                {{webmap.title}} ({{webmap.id}})
              </option>
              {% endfor %}
            </select>
            {% else %}
            <p class="card-text">Es sind keine WebMaps vorhanden.</p>
            {% endif %}
          </li>
          <li class="list-group-item bg-primary-subtle">
            Wählen sie die <strong>Konfig</strong> mit der die WebMap
            überschrieben werden soll.
          </li>
          <li class="list-group-item">
            {% if webmapconfigs|length > 0 %}
            <select
              class="form-select"
              aria-label="select config"
              name="webmap_config_select"
            >
              {% for config in webmapconfigs %}
              <option selected value="{{config.title}}">
                {{config.title}} ({{config.culture}})
              </option>
              {% endfor %}
            </select>
            {% else %}
            <p class="card-text">Es sind keine WebMaps vorhanden.</p>
            {% endif %}
          </li>
        </ul>
        <div class="card-footer">
          <button id="update_webmap_btn" class="btn btn-primary" type="submit">
            WebMap aktualisieren
          </button>
          <button
            id="update_webmap_spinner"
            class="btn btn-primary visually-hidden"
            type="button"
            disabled
          >
            <span
              class="spinner-border spinner-border-sm"
              aria-hidden="true"
            ></span>
            <span role="status">WebMap wird aktualisiert...</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
